@font-face {
    font-family: 'karla';
    src: url('./fonts/Karla-Regular.ttf');
}

:root {
    --color-hero: #582be8;
    --color-main: #ffffff;
    --color-gray: #d5d5d5;
    --font: 'karla';
}

/*Hero */
.hero {
    width: 100%;
    height: 25rem;
    position: relative;
    padding: 1rem 0;
    background-color: var(--color-hero);
}

.nav {
    width: 100%;
    height: 40%;
    padding: 0.5rem 1rem;
}

.nav>img {
    width: 50px;
    height: 50px;
}

/*main*/
.main {
    width: 100%;
    max-width: 680px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    top: -225px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: var(--color-main);
}

/*me*/
.me {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.me_image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_image {
    width: 128px;
    height: 128px;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_image>img {
    border-radius: 50%;
}

.menu_color {
    width: 100px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color_item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    cursor: pointer;
    animation: vibrate-1 .5s linear both;
}

.color_item--indigo {
    background-color: #6610f2;
}

.color_item--orange {
    background-color: #fd7e14;
}

.color_item--blue {
    background-color: #007bff;
}

.indigo_color {
    animation: changeBackgroundHeroIndigo 500ms linear forwards;
}

.orange_color {
    animation: changeBackgroundHeroOrange 500ms linear forwards;
}

.blue_color {
    animation: changeBackgroundHeroBlue 500ms linear forwards;
}

/*animation for hero*/
@keyframes changeBackgroundHeroIndigo {
    100% {
        transition: background 500ms linear;
        background-color: #6610f2;
    }
}

@keyframes changeBackgroundHeroOrange {
    100% {
        transition: background 500ms linear;
        background-color: #fd7e14;
    }
}

@keyframes changeBackgroundHeroBlue {
    100% {
        transition: background 500ms linear;
        background-color: #007bff;
    }
}


@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}


/*end styles*/


.me_name {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    font-family: var(--font);
}

.arrobas {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.arrobas>li {
    font-size: 0.9rem;
    font-weight: 600;
    font-family: var(--font);
    color: #8b95aa;
}

/*tech*/
.techs {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.tech__item {
    width: 120px;
    height: 40px;
    padding: 0.5rem;
    margin: 0.5rem 0.2rem;
    font-size: 0.9rem;
    border-radius: 6.25rem;
    font-weight: 700;
    font-family: var(--font);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #e4e8f1;
    transition: background 200ms linear;
    background-color: transparent;
}

.tech__item--react:hover {
    background-color: #e4e8f1;
    color: #61dafb;
}

.tech__item--mongo:hover {
    background-color: #e4e8f1;
    color: #13aa52;
}

.tech__item--node:hover {
    background-color: #e4e8f1;
    color: #37c5ab;
}

.tech__item--ts:hover {
    background-color: #e4e8f1;
    color: #3178c6;
}


.tech__item>img {
    width: 22px;
    height: 22px;
}

/*networks*/
.networks {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #dadada;
}

.network_title {
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: 600;
    font-family: var(--font);
}

.content_networks {
    width: 100%;
    display: flex;
}

.network_item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.network_item>a {
    width: 30px;
    height: 30px;
}

/*about_me*/

.about_me {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid #dadada;
}

.about_me_title {
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: 600;
    font-family: var(--font);
}

.about_me_paragraph {
    font-size: 1.2rem;
    padding: 1rem 0;
    font-family: var(--font);
}

/*available*/
.available {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid #dadada;
}

.available_title {
    font-size: 1.4rem;
    padding: 1rem 0;
    font-weight: 600;
    font-family: var(--font);
}

.content_available {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item_available {
    flex-basis: 100px;
    height: 50px;
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: 600;
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 200ms linear;
    border: 1px solid #e4e8f1;
    border-radius: 0.2rem;
}

.item_available--one:hover {
    background-color: #3178c6;
    color: #ffffff;
}

.item_available--two:hover {
    background-color: #582be8;
    color: #ffffff;
}

.item_available--three:hover {
    background-color: #13aa52;
    color: #ffffff;
}

/*projects*/
.projects {
    width: 100%;
    padding: 1rem 0;
}

.title_projects {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--font);
}

.content_projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    border: 1px solid #f1f4f9;
    transition: border 100ms linear;
}

.project:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project_title,
.project_paragraph {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font);
}

.btn_project {
    font-family: var(--font);
    background-color: #09f;
}

.project_paragraph {
    font-weight: 500;
}

.content__btn_project {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content__btn_project > a {
    height: 30px;
    width: 40%;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e4e8f1;
    color: #e4e8f1;
}

.btn_project--view_code {
    background-color: #0d1117;
}


@media screen and (min-width: 520px) {

    .content_projects {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        width: 70%;
    }

}

@media screen and (min-width: 720px) {

    .main {
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .arrobas {
        width: 80%;
    }

    .content_available {
        justify-content: flex-start;
    }

    .item_available {
        margin-right: 1rem;
        flex-basis: 120px;
        height: 40px;
    }

    .project {
        width: 45%;
    }

    .menu_color {
        flex-direction: row;
        justify-content: space-evenly;
    }

}